
/* h1 {
    color: red;
    background-color: black;
}

h2 {
    color: yellow;
    background-color: blue;
} 

Selector ID

#parrafo {
    text-align: center
}

se pone id="parrafo", en la etiqueta HTML que corresponda.

Selector por clase

    .seccion1 {
        background-color: black;
        color: white;
    }


*/
/* FONDOS */
/* 
/ Para degradar colores
body {
    background: linear-gradient()
} */
/* 
body {
    background: #000 url(/assets/img/react-blanco.png) no-repeat bottom fixed;
}
p {
    color: white;
}

  */

/* BORDES */
/* p.dotted {
    border-style: dotted;
    border-color: blue;
    border-width: 5px;
}
/* 
Esta es la mejor forma para tener menos lineas */
/* p.solid {
   border: 5px solid green;
   border-radius: 20px;
}

 */

 /* .cajita1{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: blue;
}

 .cajita2{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: red;
    margin: 10px 30px 50px 100px; 
 }

 .cajita3{
    height: 300px;
    width: 300px;
    border: 5px solid black;
    background-color: green;
 }

 */
/* .cajita1 {
    border: 2px solid black;
    background-color: aquamarine;
    padding: 30px 15px 30px 50px;
} */
/* 
BORDERS, PADING, MARGENS, MINIMO Y MAXICO ME ALTURA, O DE ANCURA

.cajitaAzul {
    border: 2px solid black; 
    background-color: blue;
    color: white;
    min-height: 500px;
    width: 500px;
}

.cajitaRoja {
    border: 2px solid black;
    background-color: red;
    color: white;
    min-height: 100px;
    width: 100px;
}
 */

/* 
ALINEACION DE TEXTOS
h1 {
    color: blue;
    text-align: center;
} 

h2 {
    text-align: center;
    color: green;
}

p {
    text-align: justify;
    color: darkred;
}

b,i {
    color: black;
} */
/* 

TEXT DECORATION
.overline {
 text-decoration-line: overline;
 text-decoration-color: red;
 text-decoration-style: solid;
}

.line-thrrough {
    text-decoration-line: line-through;
    text-decoration-color: green;
    text-decoration-style: dotted;
} */


/* 
TEXT DECORATION -SHORTHAND
.underline {
    text-decoration: underline red wavy;
} */

/* 
.transofrmado {
    /* text-transform: capitalize; // transformar texto */
    /* text-indent: 150px; // Sangria */
    /* letter-spacing: 2px;  // Espaciado entre letras*/
    /* line-height: 3; // espaciadoe entre lineas */
    /* word-spacing: 20px; // Espaciado entre palabras */
    /* white-space: nowrap; // para respetar al contenedor padre */

    /* 
    
    SOMBRAS EN TEXTO
    h1 {
        text-shadow: 1px 1px 50px red, 1px 5px 15px black, 0px 0px 10px yellow;

    } */
/* 
    p {
        font-style: italic;
    } */

    /* 
    FUENTES GOOGLE
    .inspiration-regular {
        font-family: "Inspiration", cursive;
        font-weight: 400;
        font-style: normal;
      }
       */

       /* .glyphicon-glyphicon-home {
        color: red;
       } */

       /* 
       ESTILOS DE LISTAS
       ul {
            background-color: black;
            padding: 20px;
       }

       li {
        color:white;
        background-color: grey;
        padding: 5px;
        margin: 10px;
       } */

       /* 
       ESTILOS PARA TABLAS // HOVER, NTN CHILD
       
       table,tr,th,td {
        border: 1px solid black;
        width: 500px;
        text-align: center;
       }

       table {
        border-collapse: collapse;
       }

       table,th {
        border: 2px solid black;
       }

       .primeraColumna {
        border: 2px solid black;
       }

       th {
        height: 50px;
        background-color: grey;
       }

       tr:nth-child(even){
        background-color: rgb(18, 255, 255);
       }

       tr:nth-child(odd){
        background-color: aquamarine;
       }

       tr:hover{
        background-color: brown;
       } */


       /* 
       VISIBILITY Y DISPLAY // COLOCAR ELEMENTOS
       .cajita1 {
        width: 100px;
        height: 100px;
        background-color: red;
        border: 1px solid black;
        display: inline;
       }

       .cajita2 {
        width: 100px;
        height: 100px;
        background-color: blue;
        border: 1px solid black;
        display: inline;
       }

       .cajita3 {
        width: 100px;
        height: 100px;
        background-color: green;
        border: 1px solid black;
        display: inline;
       }

       .box1 {
        width: 100px;
        height: 100px;
        background-color: yellow;
        border: 1px solid black;
        display: block;
       }

       .box2 {
        width: 100px;
        height: 100px;
        background-color: violet;
        border: 1px solid black;
        display: block;
        visibility: hidden;
       }
    

       .box3 {
        width: 100px;
        height: 100px;
        background-color: deeppink;
        border: 1px solid black;
        display: block;
       } */


/* 
       POSICIONES
        */
    /* .conteiner {
        position: static;
        border: 2px solid green;
    } */

    /* .conteiner {
        border: 2px solid green;
    }

    .parrafo {
        position: relative;
        top: 50px;
        left: 20px;
    } */

    /* .conteiner {
        position: fixed;
        bottom: 0;
        right: 0;
        border: 2px solid green;
    } */
    /* .conteiner {
        position: absolute;
        bottom: 0;
        right: 0;
        border: 2px solid green;
    } */
    /* .conteiner {
        position: sticky;
        top: 0;
        border: 2px solid green;
        background-color: red;
    }
 */


 /* 
 Z-INDEZ // PARA MANDAR TEXTO O IMAGEN HACIA ATRAS
 h1 {
    position: absolute;
    top: 50px;
    font-size: 100px ;
    z-index: -1;
}

.adelante {
    z-index: 1;
    position: relative;
} */


/* 
OVERFLOW --- PARA ACOMODAR TEXTO EN UN CONTENEDOR, PONER Y OCULTAR SCROLLS
.container {
    background-color: red;
    width: 300px;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
} */

/* 
FLOAT, PARA PONER EL TEXTO AL REDEDOR DE UNA IMAGEN
img {
    float: left;
    padding: 5px;
} */



/* PARA COMBINAR SELECTORES -- HIJOS */
/* div  p {
    background-color: yellow;
} */

/* PARA COMBINAR SELECTORES -- NIETOS */
/* div > p {
    background-color: yellow;
} */

/* PARA COMBINAR SELECTORES -- PRIMER HERMANOS */

/* div+p {
    background-color: yellow;
} */

/* PARA COMBINAR SELECTORES -- TODOS LOS HERMANOS */
/* div~p {
    background-color: yellow;
} */

/* EXTRUCTURA DE LAS PSEUDOCLASES --- ESTAS SON PARA QUE EL ELEMENTO TENGA UN COMPORTAMIENTO AL PASARLE EL MOSE, SELECCIONARLO O REALIZAR ALGUNA ACCIO CON EL */
    /* elemento:pseudoelemento {
        propiedad:valor
    } */



    /*  PSEUOLASES */
/* a:link {
    color: coral;
    background-color: yellow;
}

/* a:visited {
    color: black;
    background-color: aqua;
} */

/* a:hover {
    background-color: aquamarine;
} */
/* 
a:active {
    background-color: blue;
} */

/* p {
    display: none;
    background-color: yellow;
    padding: 20px;
}

div:hover p {
    display: block;
} */

/* p:last-child {
    background-color: blue;
} */



/* PSEUDOELEMENTOS */
/* 
COMBINAR ELEMENTOS, CLASES, PSEUDOELEMENTOS
p.primerParrafo::first-letter {
    color: red;
    font-size: 3em;
} */

/* 
PONE UN ICONO ANTES DEL TIUTLO O AFTER PONE DESPUES-
h1::before {
    content: url(/assets/react-blanco.png);
    
} */

/* 
PARA SELECCIONAR LOS MARCADORES EN LAS LISTAS DIRECTAMENTE
::marker {
    color: red;
    font-size: 3em;
} */

/* 
PARA QUE CAMBIE DE COLOR AL Seleccionar TEXTO
::selection {
    background-color: white;
    color: red;
} */


/*
OPACIDAD
 h1 {
    color: white;
}
p {
    color: white;
}
img {
    position: absolute;
    top: 0;
    /* opacity: 0.5; */
/* }

body {
    background-color: black;
}

img:hover {
    opacity: 0.5;
}
 */

 /*
 NAV BAR
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
 }

 li {
    float: left;
    border-right: 1px solid rgb(134, 215, 165);
 }

 li:last-child {
    border-right: none;
    border-left: 1px solid rgb(134, 215, 165);
 }

 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
 }

 .active {
    background-color: coral;
    
 }
 
 li a:hover:not(.active) {
    background-color: rgb(215, 128, 14);

 } */

 /* 
 PARA SELECCIONAR ETIQUETAS CON UN ATRIBUTO ESPECIFICO
 
 a[target="_blank"] {
    background-color: red;
 } */




 /* -------------------- */
 /* 
 TRANSICIONES
 body {
    background-color: black;
    color: white;
 }

 img {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 500px;
    AL PONER LA TRANSICION EN EL ELMENTO ORIGINAL SE LOGRA QUE NO SEA TAN BRUSCA LA TRANSICION AL QUITAR EL MOUSE DEL HOVER
    transition: opacity 2s, ease-in-out 0.3s, width 5s linear;
}

img:hover {
    opacity: 0.5;
    /* transition-property: opacity;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.3s;
    width: 800px;
    
}
 */

/* @keyframes imagen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5 ;
    }
} */



/* 

COMO HACER ANIMACIONES 
.cuadradito {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: cuadrado;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    
  
}

@keyframes cuadrado {
    0% {
        background-color: red; 
        left: 0; 
        top: 0;
    } 25% {
        background-color: blue; 
        left: 200px; 
        top: 0;
    } 50% {
        background-color: green; 
        left: 200px; 
        top: 200;
    } 75% {
        background-color: yellow; 
        left: 0px; 
        top: 200;
    } 100% {
        background-color: black; 
        left: 0px; 
        top: 0;
    }
} */


/* 
@@@@MEDIAQUERIES
.contaniner {
    overflow: auto;
}

.leftside {
    float: none;
    width: auto;
}

.texto {
    position: absolute;
    top: 0;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media(min-width:600px) {

    .leftside {
        float: left;
        width: 300px;
    }
    img {
        width: 300px;
    }
    
    .texto {
        position: static;
        
    }
} */


/* 
FLEXBOX
.flex-container {
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-items: stretch; 


    height: 500px;


}

.flex-container > div {
    background-color: rgb(0, 143, 143);
    margin: 10px;
    padding: 10px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
}

.distinta {
    width: 120px !important;
    height: 120px !important;
}

*/